<div class="flex bg-[#5b698dcc] flex-col justify-center items-center h-full text-3xl gap-10">
    <span><span class="text-white mr-7">Meno:</span> <input class="p-3 rounded-lg" type="text" name="username" [(ngModel)]="username" /></span>
    <span><span class="text-white mr-7">Heslo:</span> <input class="p-3 rounded-lg" type="password" name="password" [(ngModel)]="password" /></span>
    <div>
      <button class="text-gray-700 mr-4 bg-slate-300 shadow-[#ffffff1e] shadow-lg p-3 rounded-md" (click)="login()">Prihlásiť sa</button>
      <button class="ml-4 text-gray-700 bg-slate-300 shadow-[#ffffff1e] shadow-lg p-3 rounded-md" (click)="register()">Registrovať sa</button>
    </div>
</div>
