<div class="flex flex-col lg:flex-row bg-[#5b698dcc]/60 h-full w-full justify-center">
  <div class="flex flex-col justify-center items-center md:h-full text-3xl gap-10">
    <i class="fas fa-users text-[150px] text-slate-300"></i>
    <span><span class="text-white mr-7">Meno:</span> <input class="p-3 rounded-lg" type="text" name="username" [(ngModel)]="username" /></span>
    <span><span class="text-white mr-7">Heslo:</span> <input class="p-3 rounded-lg" type="password" name="password" [(ngModel)]="password" /></span>
    <div class="mt-4">
      <button class="text-gray-700 mr-4 bg-slate-300 shadow-[#ffffff1e] shadow-lg p-3 rounded-md" (click)="login()">Prihlásiť sa</button>
      <button class="lg:ml-4 text-gray-700 bg-slate-300 shadow-[#ffffff1e] shadow-lg p-3 rounded-md" (click)="register()">Registrovať sa</button>
    </div>
  </div>
  <!--   <app-login-list [users]="users" class="lg:w-[40%]"></app-login-list> -->
</div>
