<form class="flex flex-col h-full justify-around text-xl" [formGroup]="studentForm">
  <div class="flex flex-col md:flex-row gap-0 md:gap-10">
    <div class="flex flex-col">
      Meno: <input class="md:p-3 rounded-md mt-4" type="text" formControlName="firstName" /><br />
      Priezvisko: <input class="md:p-3 rounded-md mt-4" type="text" formControlName="lastName" /><br />
      Pohlavie: <input class="md:p-3 rounded-md mt-4" type="text" formControlName="gender" /><br />
      Obrázok: <input placeholder="URL" class="md:p-3 rounded-md mt-4" type="text" formControlName="image" /><br />
    </div>
    <div class="flex flex-col">
      Ročník: <input class="md:p-3 rounded-md mt-4" type="text" formControlName="grade" /><br />
      Dátum narodenia: <input class="md:p-3 rounded-md mt-4" type="date" formControlName="dateOfBirth" /><br />
      Obed: <input placeholder="ID" class="md:p-3 rounded-md mt-4" type="text" formControlName="lunchId" /><br />
    </div>
    <div class="flex flex-col">
      Matka: <input placeholder="ID" class="md:p-3 rounded-md mt-4" type="text" formControlName="parentOneId" /><br />
      Otec: <input placeholder="ID" class="md:p-3 rounded-md mt-4" type="text" formControlName="parentTwoId" /><br />
      Učiteľ: <input placeholder="ID" class="md:p-3 rounded-md mt-4" type="text" formControlName="teacherId" /><br />
    </div>
  </div>
  <span class="flex gap-10 justify-center text-white">
    <button class="bg-slate-500 shadow-[#ffffff1e] shadow-lg p-3 rounded-md" (click)="addStudent()">Pridať žiaka</button>
    <button class="bg-slate-500 shadow-[#ffffff1e] shadow-lg p-3 rounded-md" (click)="editStudent()">Upraviť žiaka</button>
  </span>
</form>
