<div *ngIf="person !== undefined">
  <div class="flex justify-between">
    <div class="ml-10 mt-10 mb-10 lg:mb-3 flex gap-4 flex-col justify-between w-full">
      <div class="flex gap-10 flex-col sm:flex-row md:gap-0 w-full justify-between">
        <div class="flex flex-col gap-4">
          <div>
            <h2 class="text-2xl text-[#41568bcc] font-bold">Osobné udaje</h2>
          </div>
          <div>
            <span class="text-[#000000b7] italic">ID žiaka:</span> <span class="text-2xl ml-1"> {{ person?.id }}</span>
          </div>
          <div>
            <span class="text-[#000000b7] italic">Meno:</span> <span class="text-2xl ml-1"> {{ person?.firstName }} {{ person?.lastName }}</span>
          </div>
          <div>
            <span class="text-[#000000b7] italic">Pohlavie:</span> <span class="text-2xl ml-1"> {{ person?.gender }}</span>
          </div>
          <div>
            <span class="text-[#000000b7] italic">Trieda:</span> <span class="text-2xl ml-1"> {{ person?.grade }}</span>
          </div>
          <div>
            <span class="text-[#000000b7] italic">Dátum narodenia:</span> <span class="text-2xl ml-1"> {{ person?.dateOfBirth | date: 'dd.MM.yyyy' }}</span>
          </div>
          <div>
            <span class="text-[#000000b7] italic">ID obeda:</span> <span class="text-2xl ml-1"> {{ person?.lunchId }}</span>
          </div>
        </div>
        <div class="mr-20 mt-0 sm:mt-10 md:mt-0">
          <img class="rounded-3xl md:w-72 md:h-72" src="{{ person?.image }}" alt="" />
        </div>
      </div>
      <div class="flex flex-col sm:flex-row w-full sm:gap-40 md:gap-80">
        <div>
          <div class="flex gap-4 flex-col mt-7">
            <h2 class="text-2xl text-[#41568bcc] font-bold">Rodičia</h2>
            <div>
              <span class="text-[#000000b7] italic">Matka:</span> <span class="text-2xl ml-1"> {{ person?.parent1Id }}</span
              ><br />
              <span class="text-[#000000b7] italic">Otec:</span><span class="text-2xl ml-1"> {{ person?.parent2Id }}</span>
            </div>
          </div>
          <div class="flex gap-4 flex-col mt-7">
            <h2 class="text-2xl text-[#41568bcc] font-bold">Učitelia</h2>
            <div>
              <span class="text-[#000000b7] italic">Triedny učiteľ:</span> <span class="text-2xl ml-1"> {{ person?.teacherId }}</span>
            </div>
          </div>
        </div>
        <div class="mr-4">
          <div class="flex gap-4 flex-col mt-7">
            <h2 class="text-2xl text-[#41568bcc] font-bold">Obedy</h2>
            <div>
              <span class="text-[#000000b7] italic">ID:</span> <span class="text-2xl ml-1"> {{ person?.lunchId }}</span>
            </div>
          </div>
          <!--           <div class="flex gap-4 flex-col mt-7">
            <h2 class="text-2xl text-[#41568bcc] font-bold">Správy</h2>
            <div>
              <span class="text-[#000000b7] italic">Work in progress</span>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="flex justify-center text-center items-center h-full text-2xl text-[#000000b7]" *ngIf="person === undefined">Kliknite na študenta pre zobrazenie informácií</div>
